table {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: lightgrey;
}

th, td {
    border: 1px solid white;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: darkgrey;
}